<div id="<%= dom_id question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= question.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Asked by:</strong>
    <%= question.asked_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= question.priority %>
  </p>

</div>
