<section class="my-12 border-b border-gray-200 pb-12" id="<%= id %>">
  <div class="">
    <h1 class="mb-8 text-center"><%= title %></h2>
    <div class="">
      <%= yield %>
    </div>
  </div>
</section>