.theme--retro {
    --primary-color: #D04848;
    --secondary-color: #F3B95F;
    --font-color: #000;
    --bg-color: #FDE767;
    --success-color: #1f8d44;
    --danger-color: #df0f0f;
    --warning-color: #FDE767;
    --info-color: #6895D2;
    --error-color: #df0f0f;
    --border-radius: 0px;
}